#################
# c++ ignore
#################
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# macOS/backup files
.~*
._*
~$*
.DS_Store
*.swp

# Our files
.vscode/
.idea/
.venv/

